<form action="/edit_superhero/<%= @superhero.id %>" method="post">
  <input type="hidden" name="_method" value="put">
  <label for="name">Name</label>
  <input type="text" id="name" name="superhero[name]" value="<%= @superhero.name %>">
  <br>
  <label for="superpower1">Super Power 1</label>
  <textarea id="superpower1" name="superhero[superpower1]"><%= @superhero.superpower1 %></textarea>
  <br>
  <label for="superpower2">Super Power 2</label>
  <textarea id="superpower2" name="superhero[superpower2]"><%= @superhero.superpower2 %></textarea>
  <br>
  <label for="superpower3">Super Power 3</label>
  <textarea id="superpower3" name="superhero[superpower3]"><%= @superhero.superpower3 %></textarea>
  <br>
  <input type="submit" value="Submit">
</form>